<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/script/upload.js"></script>
    <script src="static/script/colorHistogram.js"></script>
    <!-- Load TensorFlow.js. This is required to use MobileNet. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.19.0/dist/tf.min.js"></script>
    <!-- Load the MobileNet model. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@2.1.1/dist/mobilenet.min.js"></script>
    <title>CIS4496 GAN Project Dashboard</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CIS4496 GAN Project</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('about') }}"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div
        class="container-fluid position-relative overflow-hidden p-0 text-center bg-light text-white"
        style="
          background-image: url('static/style/wp3167197.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100vh;
          width: 100%;
        "
      >
        <div class="col-md-5 p-lg-5 mx-auto my-5 bg-dark">
          <h1 class="display-4 fw-normal">Temple University CIS 4496</h1>
          <p class="lead fw-normal">
            Our project aims to use Generative Adversarial Networks (GANs),
            particularly, the CycleGAN architecture to implement machine
            learning models that can transfer photos to paintings by famous
            artists like Monet, Van Gogh, Picasso, and etc.
          </p>
          <a class="btn btn-link" href="{{ url_for('about') }}"
            >For more information, please click here.</a
          >
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div
          class="product-device product-device-2 shadow-sm d-none d-md-block"
        ></div>
      </div>
    </main>
    <div class="container-fluid mt-2" 
         style="background-image: url('static/style/artistic-rainbow-colors-splash-watercolor-background-vector.jpg');
                background-size: cover;"
    >
      <div class="mb-0">
        <label for="Image" class="form-label ">Upload your image here</label>
        <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
          <input
            class="form-control"
            type="file"
            name="file"
            id="imageFile"
          />
        </form>
        <p>
          {% with messages = get_flashed_messages() %}
	          {% if messages %}
		        <ul>
		        {% for message in messages %}
		          <li>{{ message }}</li>
		        {% endfor %}
		        </ul>
	          {% endif %}
	        {% endwith %}
        </p>
        <div
          class="btn-group"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          {% if request.path == '/upload' or request.path == '/convert' %}
            <button onclick="classifyMyImg()" class="btn btn-danger mt-3">
              Classify me
            </button>
            <form method="post" action="/convert">
              <select class="btn btn-warning mt-3" name="which_artists" aria-label="Default select example">
                <option selected>Select the artists</option>
                <option value="Monet">Monet</option>
                <option value="Degas">Degas</option>
                <option value="Picasso">Picasso</option>
                <option value="Rembrandt">Rembrandt</option>
                <option value="VanGogh">Van Gogh</option>
              </select>
              <input
                type="submit"
                value="Convert"
                class="btn btn-info mt-3"
                name="Convert_btn"
              >
            </form>
          {% endif %}
        </div>
        {% if request.path == '/' %}
          <div class="container-fluid border border-secondary border-1 mt-3">
            <h6 class="h6">Button Control Group for the Color Histogram</h6>
            <div class="btn-group mb-3" role="group" aria-label="Mixed style control for the color histogram">
              <button id="red" class="focuser btn btn-danger mt-3">++R</button>
              <button id="green" class="focuser btn btn-success mt-3">++G</button>
              <button id="blue" class="focuser btn btn-primary mt-3">++B</button>
              <button id="blend" class="focuser btn btn-outline-primary mt-3">Blend</button>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% if filename or gfilename %}
    <div class="container-fluid mt-1">
      <div class="row mx-auto">
        <div class="col-12 col-md-6 mb-3">
          <div class="card border-0">
            {% if filename %}
              <img id="frame" src="{{ url_for('display_image', filename=filename) }}" class="card-img-top img-fluid" />
              <div class="card-body">
                <p id="frametext" class="card-text"></p>
              </div>
              <h2 class="display-4 fw-normal" id="pieChartTitle"></h2>
              <svg id="pieChart" width="400" height="400"></svg>
            {% endif %}
            <canvas id="frame"></canvas>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card border-0">
            {% if gfilename %}
              <img id="frame2" src="{{ url_for('display_generated_image', gfilename=gfilename) }}" class="card-img-top img-fluid" />
              <div class="card-body">
                <p id="frametext" class="card-text"></p>
              </div>
            {% endif %}
            <div id="row">
              <div id="loadingSpinner" class="spinner-border text-primary m-auto" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
              </div>
              <svg width="0.6" height="1"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <footer class="container">
      <p>© Temple University</p>
    </footer>
  </body>
  <script>
    function classifyMyImg() {
      const img = document.getElementById("frame");
      const predictionText = document.getElementById("frametext");
      const classifyButton = document.querySelector("button[onclick='classifyMyImg()']");
      const spinner = document.getElementById("loadingSpinner");

      // Show the spinner and disable the button
      spinner.style.display = "block";
      classifyButton.disabled = true;

      // Load the classification model
      mobilenet.load().then((model) => {
        // Classify the image
        model.classify(img).then((predictions) => {
          // Hide the spinner and re-enable the button
          spinner.style.display = "none";
          classifyButton.disabled = false;

          document.getElementById("pieChartTitle").innerText = "Image Type Probability";
          var data = predictions;
          var svg = d3.select("#pieChart"),
            width = svg.attr("width"),
            height = svg.attr("height"),
            radius = 200;

          var ordScale = d3.scaleOrdinal()
            .domain(data)
            .range(['#ffd384', '#94ebcd', '#fbaccc', '#d3e0ea', '#fa7f72']);
          var pie = d3.pie().value(function(d) {
            return d.probability;
          });

          var g = svg.append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
            .attr("text-anchor", "middle")
            .style("font-size", "16px")

          var arc = g.selectAll("arc")
            .data(pie(data))
            .enter();
          var path = d3.arc()
            .outerRadius(radius)
            .innerRadius(0);

          arc.append("path")
            .attr("d", path)
            .attr("fill", function(d) {
              return ordScale(d.data.className);
            });

          var label = d3.arc()
            .outerRadius(radius)
            .innerRadius(0);

          arc.append("text")
            .attr("transform", function(d) {
              return "translate(" + label.centroid(d) + ")";
            })
            .text(function(d) {
              return d.data.className;
            })
            .style("font-family", "arial")
            .style("font-size", 15);
        });
      });
    }
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script>
    document.getElementById('imageFile').addEventListener('change', function() {
      const fileInput = document.getElementById('imageFile');
      const file = fileInput.files[0];
      
      if (file) {
        const fileType = file.type.toLowerCase();
        if (fileType !== 'image/jpeg' && fileType !== 'image/png') {
          alert('Only JPG and PNG files are allowed.');
          fileInput.value = ''; // Clear the file input
        } else {
          document.getElementById('uploadForm').submit(); // Submit the form if valid
        }
      }
    });
  </script>
</html>
